body {
	font-family: Verdana;
}

header {
	background: url("images/cabecalho.jpg") no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.caixa {
	width: 900px;
    position: relative;
    margin: 0 auto;
}

.caixa img {
	right: 0;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav ul li {
	list-style: none;
	border-left: 2px solid #3ca0e7;
	display: inline-block;
	padding: 0 30px;
	position: relative;
	text-decoration: none;
	text-align: center;
	font-family: arvo;
    margin: 0 0 0 15px;
}

nav li a {
	color: black;
}

nav li a:hover {
	color: #3ca0e7;
}

nav li:hover {
	cursor: pointer;
}

nav ul li ul {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	padding-left: 0;
	left: 0;
	display: none;
}

a {
	color: #000000;
}

.login {
	margin: 200px auto;
	border: 1px solid black;
	width: 400px;
	height: 240px;
	text-align: center;
	background-color: #fff;
}

main {
	position: relative;
	padding: 60px;
	min-height: 410px;
	background: url("images/fundo.jpg") repeat-y;
}

.paginas {
    width: 940px;
    margin: 0 auto;
    padding: 5px 0;
}

.paginas li {
	background: #ffffff;
    display: inline-block;
	text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.2%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.paginas li:hover {
    border-color: #c78c19;
}

.paginas li:hover h2 {
    font-size: 34px;
}

.paginas h2 {
    font-size: 30px;
    font-weight: bold;
}

.formulario {
	background: #ffffff;
	width: 50%;
	vertical-align: top;
	margin-top: 20px;
    margin: 0 25%;
    padding: 5px 8px;
    box-sizing: border-box;
	border: 1px solid #000000;
    border-radius: 10px;
}

.botaoConsultar {
	padding-top: 7px;
	float: right;
	text-align: right;
}

table {
	margin: 0px auto;
	font-family: Verdana;
	font-size: 13px;
	float: center;
}

.imprimirIdade {
	text-align: center;
	font-style: italic;
}

.sex {
	float: center;
	text-align: center;
}

.sexo {
	float: right;
	text-align: right;
}

.atendimentosSexo {
	float: left;
	height: 60px;
	width: 170px;
}

.tabelaVisualizacao {
	text-align: center;
}

.totalAtendimentos {
	float: right;
	height: 60px;
	width: 170px;
}

.senhaChamada {
	float: left;
	height: 60px;
	width: 170px;
}

.guiche {
	float: right;
	height: 60px;
	width: 170px;
}

#tabelaRegistro {
	background-color: #ffffff;
}

.painel {
	width: 600px;
	height: 300px;
	background-color: #fff;
    margin: 0 auto;
	padding: 5px 0;
	box-sizing: border-box;
	border: 1px solid #000000;
    border-radius: 10px;
}

#legendaPainel {
	font-size: 12px;
	font-weight: bold;
}

h3 {
	font-weight: bold;
}

h2 {
	text-align: center;
}

h1 {
	text-align: center;
}

textarea {
	width: 540px;
	height: 74px;
}

.rodape-tabela {
	padding-top: 10px;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin-top: 20px;
}